<% if (success_msg) { %>
    <div class="alert alert-danger"><%= success_msg %></div>
  <% } %>
  
  <% if (insert_msg) { %>
    <div class="alert alert-danger"><%= insert_msg %></div>
  <% } %>
  <table border="1">
    <tr>
                    <th>Index</th>
            <th>Name</th>
            <th>Type</th>
            <th>category</th>
            <th>Image</th>
             <th>Action</th>
    </tr>
    <% for(var i=0; i<element.length;i++) { %>
            <tr>
              <td><%= i %></td>
              <td><%= element[i].name %></td>
              <td><%= element[i].element_type %></td>
              <td><%= element[i].element_category %></td>
              <td><img src="../../<%= element[i].image %>" width="50">
                </td>
              <
              <td>
                      <a href='edit/<%= element[i]._id %>'>Edit</a> | 
                      <a href='delete/<%= element[i]._id %>'>Delete</a> |
                      
            
            </td>
            </tr>
          <% } %>
    