
<% layout('../../layouts/layout') -%>

<% if (success_msg) { %>
  <div class="alert alert-danger"><%= success_msg %></div>
<% } %>

<% if (insert_msg) { %>
  <div class="alert alert-danger"><%= insert_msg %></div>
<% } %>
<table border="1">
  <tr>
                  <th>Index</th>
          <th>Name</th>
          <th>Keywords</th>
          <th>Category_Type</th>
          <th>Featured_Type</th>
          <th>Image</th>
           <th>Action</th>
  </tr>
  <% for(var i=0; i<category.length;i++) { %>
          <tr>
            <td><%= i %></td>
            <td><%= category[i].name %></td>
            <td><%= category[i].cat_keywords %></td>
            <td><%= category[i].cat_type %></td>
            <td><%= category[i].featured_type %></td>
            <td><img src="../../<%= category[i].image %>" width="50">

              </td>
            
            <td>
                    <a href='edit/<%= category[i]._id %>'>Edit</a> | 
                    <a href='delete/<%= category[i]._id %>'>Delete</a> |
                    <a href='/show/<%= category[i]._id %>'>Show</a>
          
          </td>
          </tr>
        <% } %>
  
</table>

